.logout-button, .save-button {
	font-size:16px;
	padding: 5px;
}

button {
	padding: 5px;
	margin: 5px;
}

.navbar-brand {
	text-align: center;
	padding-bottom: 20px;
	font-family: 'Lato', sans-serif;
}

.header {
	margin-bottom: 15px;
	text-align: center;
}


